/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
padding: 0;
margin: 0;
width:100%;
font-size: 18px;color:red;
text-align: justify;
}

article {
max-width: 50em;
margin: auto;
border-radius: 10px;
}

h1 {
  color: #000;
}

img {
  max-width: 100%;
  border-radius:15px;
}
a{color: rgb(139, 101, 101);}
